body {
    background-color: #CCD5FF;
}
h1 {
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 3.5rem;
    color: #C884A6;
}

img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#accordion {
    margin: 100px auto;
    width: 600px;
    font-family: 'Tilt Prism', cursive;
    color: #C884A6;
}

span #firstText {
    margin-right: 20px;
}